@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --yellow: hsl(47, 88%, 63%);

  --white: hsl(0, 0%, 100%);

  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --font: 'Figtree', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--gray-500);
  background-color: var(--yellow);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.blog-card {
  max-width: 320px;
  background-color: var(--white);
  padding: 1.5rem;
  border: 2px solid var(--gray-950);
  border-radius: 1.5rem;
  box-shadow: 7px 7px var(--gray-950);
}

.blog-card-img {
  display: block;
  max-width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  height: 201px;
  object-fit: cover;
}

.blog-card-tag {
  margin-bottom: 0.75rem;
}

.blog-card-time {
  display: block;
  font-size: 0.8rem;
  color: var(--gray-950);
  margin-bottom: 1rem;
}

.blog-card-link {
  text-decoration: none;
  display: block;
  font-size: 1.25rem;
  color: var(--gray-950);
  font-weight: 800;
  margin-bottom: 1rem;
  transition: 0.25s;
}

.blog-card-link:hover {
  color: var(--yellow);
}

.blog-card-description {
  font-size: 0.935rem;
  margin-bottom: 1.25rem;
}

.blog-card-footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog-card-avatar {
  aspect-ratio: 1 / 1;
  width: 35px;
}

.blog-card-author {
  color: var(--gray-950);
  font-weight: 800;
}

.tag {
  background-color: var(--yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25em;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--gray-950);
}
